@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
* {
    margin: 0px;
}

footer {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h4 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    position: relative;
    top: 80px;
    margin: 5px;
}

h5 {
    text-align: center;
    top: 80px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 15px;
    position: relative;
    margin: 3px;
}

.content {
    height: 100%;
    overflow-y: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('images/background0.png');
}

.menu {
    width: 50px;
    height: 50px;
    position: relative;
    left: 1250px;
    top: 30px;
    color: white;
}

.container {
    margin-top: 20px;
    margin-left: 20px;
    width: 800px;
    height: 100%;
    position: relative;
    border-width: 3px;
    border-style: solid;
    left: 50px;
}

.button {
    position: relative;
    top: 100px;
    width: 400px;
    height: 400px;
    left: 475px;
    margin-top: 10px;
}

.img {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 35px;
    left: 20px;
    object-fit: contain;
}

.theme-btn:hover,
.button-first:hover,
.button-Second:hover,
.button-Fourth:hover,
.button-Third:hover,
a:hover,
.btn:hover,
.submitt:hover {
    background-color: lightgray;
    color: blue;
    font-family: 'Mountains of Christmas', cursive;
}

a {
    text-decoration: none;
    color: purple;
}

.Player {
    position: relative;
    left: 900px;
    bottom: 700px;
    display: inline;
}

.btn {
    width: 320px;
    height: 40px;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: purple;
    top: 12px;
}

.countdown {
    width: 320px;
    height: 40px;
    background-color: #0E011D;
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    top: 230px;
}

.theme-btn {
    width: 150px;
    height: 25px;
    background-color: purple;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 3px;
}

.button-first {
    width: 400px;
    height: 40px;
    position: relative;
    background-color: darkgray;
    border-radius: 5px;
    text-align: center;
    color: purple;
    font-size: 20px;
    margin: 3px;
}

.button-Second {
    width: 400px;
    height: 40px;
    position: relative;
    background-color: darkgray;
    border-radius: 5px;
    text-align: center;
    color: purple;
    font-size: 20px;
    top: 3px;
    margin: 3px;
}

.button-Fourth {
    width: 400px;
    height: 40px;
    position: relative;
    background-color: darkgray;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: purple;
    top: 9px;
    margin: 3px;
}

.submitt {
    width: 400px;
    height: 40px;
    position: relative;
    color: purple;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: 3px;
    top: 9px;
}

.button-Third {
    width: 400px;
    height: 40px;
    position: relative;
    background-color: darkgray;
    border-radius: 5px;
    text-align: center;
    color: purple;
    font-size: 20px;
    top: 6px;
    margin: 3px;
}

.Player1 {
    width: 320px;
    height: 40px;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    background-color: darkgray;
    border-radius: 5px;
    margin-bottom: 3px;
}

.Player2 {
    width: 320px;
    height: 40px;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    top: 3px;
    background-color: darkgray;
    border-radius: 5px;
    margin-bottom: 3px;
}

.Player3 {
    width: 320px;
    height: 40px;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    top: 6px;
    border-radius: 5px;
    margin-bottom: 3px;
    background-color: darkgray;
}

.Player4 {
    width: 320px;
    height: 40px;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    border-radius: 5px;
    top: 9px;
    margin-bottom: 3px;
    background-color: darkgray;
}

.home {
    width: 150px;
    height: 130px;
    position: absolute;
    display: relative;
    bottom: 289px;
    left: 326px;
}

.greena {
    width: 235px;
    height: 200px;
    bottom: 653px;
    left: 60px;
    top: 54px;
    position: absolute;
}


/* .dice {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 35%;
    border: 1px solid;
} */

.first {
    width: 45px;
    height: 45px;
    display: relative;
    position: absolute;
    top: 35px;
    left: 95px;
    border-radius: 45%;
}

.path {
    width: 50px;
    height: 129px;
    left: 30px;
    bottom: 287px;
    display: relative;
    position: absolute;
}

.path1 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 80px;
    display: relative;
    position: absolute;
}

.path2 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 130px;
    display: relative;
    position: absolute;
}

.path3 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 180px;
    display: relative;
    position: absolute;
}

.path4 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 230px;
    display: relative;
    position: absolute;
}

.path5 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 280px;
    display: relative;
    position: absolute;
}

.path6 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 477px;
    display: relative;
    position: absolute;
}

.path7 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 527px;
    display: relative;
    position: absolute;
}

.path8 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 577px;
    display: relative;
    position: absolute;
}

.path9 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 627px;
    display: relative;
    position: absolute;
}

.path10 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 677px;
    display: relative;
    position: absolute;
}

.path11 {
    width: 50px;
    height: 129px;
    bottom: 287px;
    left: 727px;
    display: relative;
    position: absolute;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6 {
    width: 40px;
    height: 40px;
    border-radius: 45%;
    margin-bottom: 3px;
    margin-left: 3px;
}

.hg {
    width: 40px;
    height: 40px;
    border-radius: 45%;
    display: relative;
    position: absolute;
    top: 45px;
    left: 5px;
}

.hb {
    width: 40px;
    height: 40px;
    border-radius: 45%;
    display: relative;
    position: absolute;
    top: 45px;
    left: 100px;
}

.hy {
    width: 40px;
    height: 40px;
    border-radius: 45%;
    display: relative;
    position: absolute;
    left: 50px;
    top: 85px;
}

.hr {
    width: 40px;
    height: 40px;
    border-radius: 45%;
    display: relative;
    position: absolute;
    left: 50px;
    bottom: 85px;
}

.vpath {
    width: 50px;
    height: 258px;
    position: absolute;
    display: relative;
    left: 327px;
    top: 29px;
}

.vpath1 {
    width: 50px;
    height: 258px;
    position: absolute;
    display: relative;
    left: 377px;
    top: 29px;
}

.vpath2 {
    width: 50px;
    height: 258px;
    position: absolute;
    display: relative;
    left: 427px;
    top: 29px;
}

.vpath3 {
    width: 50px;
    height: 258px;
    position: absolute;
    display: relative;
    bottom: 27px;
    left: 327px;
}

.vpath4 {
    width: 50px;
    height: 258px;
    position: absolute;
    display: relative;
    bottom: 27px;
    left: 377px;
}

.vpath5 {
    width: 50px;
    height: 258px;
    position: absolute;
    display: relative;
    bottom: 27px;
    left: 427px;
}

.Second {
    width: 45px;
    height: 45px;
    display: relative;
    position: absolute;
    top: 77px;
    left: 45px;
    border-radius: 45%;
}

.Third {
    width: 45px;
    height: 45px;
    display: relative;
    position: absolute;
    top: 77px;
    left: 145px;
    border-radius: 45%;
}

.Fourth {
    width: 45px;
    height: 45px;
    display: relative;
    position: absolute;
    top: 120px;
    left: 95px;
    border-radius: 45%;
}

.reda {
    width: 235px;
    height: 200px;
    top: 54px;
    left: 507px;
    bottom: 654px;
    position: absolute;
}

.yellowa {
    width: 235px;
    height: 200px;
    bottom: 57px;
    right: 505px;
    position: absolute;
}

.bluea {
    width: 235px;
    height: 200px;
    left: 507px;
    bottom: 58px;
    position: absolute;
}

#main {
    width: 800px;
    height: 700px;
}

#status1 {
    position: absolute;
    left: 220px;
    top: 10px;
}

#status2 {
    position: absolute;
    left: 220px;
    top: 57px;
}

#status3 {
    position: absolute;
    left: 220px;
    top: 103px;
}

#status4 {
    position: absolute;
    left: 220px;
    top: 147px;
}

#image1 {
    position: absolute;
    left: 230px;
    bottom: 160px;
}

#image2 {
    position: absolute;
    left: 230px;
    bottom: 115px;
}

#image3 {
    position: absolute;
    left: 230px;
    bottom: 65px;
}

#image4 {
    position: absolute;
    left: 230px;
    bottom: 15px;
}

#star {
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 10px;
    right: 7px;
    visibility: hidden;
}

#counter {
    width: 320px;
    height: 40px;
    position: relative;
    visibility: hidden;
    border-radius: 10px;
}

#chronometer {
    width: 50px;
    height: 40px;
    position: relative;
    visibility: hidden;
    right: 120px;
    bottom: 45px;
}

#name1,
#name2,
#name3,
#name4 {
    position: relative;
    left: 20px;
    top: 10px;
}

#dice1 {
    width: 100px;
    height: 100px;
    left: 350px;
    top: 300px;
    position: absolute;
}

.section-title {
    text-align: center;
    padding-bottom: 10px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: white;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
    color: white;
}

section {
    display: block;
    padding-top: 10px;
}

.theme {
    display: block;
    padding-top: 40px;
}

.theme .theme-item {
    margin-bottom: 30px;
}

.theme .theme-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(69, 80, 91, 0.8);
}

.theme .theme-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.theme .theme-wrap .theme-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme .theme-wrap .theme-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #d7dce1;
    border-left: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.theme .theme-wrap .theme-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #d7dce1;
    border-right: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.theme .theme-wrap .theme-info h4 {
    font-size: 20px;
    color: #45505b;
    font-weight: 600;
}

.theme .theme-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.theme .theme-wrap:hover .theme-info {
    opacity: 1;
}

.theme .theme-wrap:hover .theme-info::before {
    top: 15px;
    left: 15px;
}

.theme .theme-wrap:hover .theme-info::after {
    bottom: 15px;
    right: 15px;
}

.theme-wrap img {
    height: 250px;
    width: 200px;
}


/*Main Content for screen less than 740px*/

@media screen and (max-width: 740px) {
    #main {
        width: 450px;
        height: 350px;
    }
    .container {
        width: 450px;
        border-width: 3px;
        border-style: solid;
        margin-top: 170px;
        left: 0px;
    }
    .menu {
        left: 450px;
    }
    .Player {
        left: 20px;
        bottom: 0px;
        margin-left: 20px;
        display: block;
        margin-bottom: 100px;
        margin-top: 20px;
    }
    .btn {
        width: 320px;
        height: 40px;
        position: relative;
        font-family: 'Noto Sans', sans-serif;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        color: purple;
        top: 12px;
    }
    .countdown {
        left: 0px;
        top: 60px;
    }
    .Player1 {
        width: 320px;
        height: 40px;
        position: relative;
        font-family: 'Noto Sans', sans-serif;
        background-color: darkgray;
        border-radius: 5px;
        margin-bottom: 3px;
        display: none;
    }
    .Player2 {
        width: 320px;
        height: 40px;
        position: relative;
        font-family: 'Noto Sans', sans-serif;
        top: 3px;
        background-color: darkgray;
        border-radius: 5px;
        margin-bottom: 3px;
        display: none;
    }
    .Player3 {
        width: 320px;
        height: 40px;
        position: relative;
        font-family: 'Noto Sans', sans-serif;
        top: 6px;
        border-radius: 5px;
        margin-bottom: 3px;
        background-color: darkgray;
        display: none;
    }
    .Player4 {
        width: 320px;
        height: 40px;
        font-family: 'Noto Sans', sans-serif;
        position: relative;
        border-radius: 5px;
        top: 9px;
        margin-bottom: 3px;
        background-color: darkgray;
        display: none;
    }
    .home {
        width: 83px;
        height: 65px;
        position: absolute;
        display: relative;
        bottom: 0px;
        top: 143px;
        left: 184px;
    }
    .greena {
        width: 123px;
        height: 95px;
        left: 38px;
        top: 29px;
        position: absolute;
    }
    .first {
        width: 22px;
        height: 22px;
        display: relative;
        position: absolute;
        top: 15px;
        left: 51px;
        border-radius: 45%;
    }
    .path {
        width: 26px;
        height: 65px;
        left: 17px;
        top: 142px;
        bottom: 0px;
    }
    .path1 {
        width: 27px;
        height: 65px;
        top: 142px;
        left: 44px;
        bottom: 0px;
    }
    .path2 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 72px;
    }
    .path3 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 100px;
    }
    .path4 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 128px;
    }
    .path5 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 156px;
    }
    .path6 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 268px;
    }
    .path7 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 296px;
    }
    .path8 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 324px;
    }
    .path9 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 352px;
    }
    .path10 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 380px;
    }
    .path11 {
        width: 27px;
        height: 65px;
        top: 142px;
        bottom: 0px;
        left: 408px;
    }
    .g1,
    .g2,
    .g3,
    .g4,
    .g5,
    .g6 {
        width: 20px;
        height: 20px;
        border-radius: 45%;
        margin-bottom: 0.5px;
        margin-top: 2px;
        margin-left: 2px;
    }
    .hg {
        width: 20px;
        height: 15px;
        border-radius: 45%;
        display: relative;
        position: absolute;
        top: 24px;
        left: 3px;
    }
    .hb {
        width: 20px;
        height: 15px;
        border-radius: 45%;
        display: relative;
        position: absolute;
        top: 24px;
        left: 57px;
    }
    .hy {
        width: 20px;
        height: 15px;
        border-radius: 45%;
        display: relative;
        position: absolute;
        left: 29px;
        top: 45px;
    }
    .hr {
        width: 20px;
        height: 15px;
        border-radius: 45%;
        display: relative;
        position: absolute;
        left: 29px;
        bottom: 43px;
    }
    .vpath {
        width: 27px;
        height: 130px;
        left: 184px;
        top: 13px;
    }
    .vpath1 {
        width: 27px;
        height: 130px;
        left: 213px;
        top: 13px;
    }
    .vpath2 {
        width: 27px;
        height: 130px;
        left: 240px;
        top: 13px;
    }
    .vpath3 {
        width: 27px;
        height: 130px;
        left: 183px;
        top: 208px;
    }
    .vpath4 {
        width: 27px;
        height: 130px;
        left: 212px;
        top: 208px;
    }
    .vpath5 {
        width: 27px;
        height: 130px;
        left: 240px;
        top: 208px;
    }
    .Second {
        width: 22px;
        height: 22px;
        display: relative;
        position: absolute;
        top: 37px;
        left: 23px;
        border-radius: 45%;
    }
    .Third {
        width: 22px;
        height: 22px;
        display: relative;
        position: absolute;
        top: 37px;
        left: 79px;
        border-radius: 45%;
    }
    .Fourth {
        width: 22px;
        height: 22px;
        display: relative;
        position: absolute;
        top: 59px;
        left: 51px;
        border-radius: 45%;
    }
    .reda {
        width: 123px;
        height: 95px;
        top: 29px;
        left: 289px;
        position: absolute;
    }
    .yellowa {
        width: 123px;
        height: 95px;
        bottom: 34px;
        right: 0px;
        left: 38px;
        position: absolute;
    }
    .bluea {
        width: 123px;
        height: 95px;
        left: 289px;
        bottom: 34px;
        position: absolute;
    }
    #image1,
    #image2,
    #image3,
    #image4 {
        left: 230px;
        bottom: 40px;
    }
    #status2 {
        left: 220px;
        top: 13px;
    }
    #status3 {
        left: 220px;
        top: 16px;
    }
    #status4 {
        left: 220px;
        top: 20px;
    }
    #star {
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 5px;
        right: 5px;
        visibility: hidden;
    }
    #counter {
        width: 320px;
        height: 40px;
        position: relative;
        visibility: hidden;
        border-radius: 10px;
    }
    #chronometer {
        width: 50px;
        height: 40px;
        position: relative;
        visibility: hidden;
        right: 120px;
        bottom: 45px;
    }
    #dice1 {
        width: 55px;
        height: 55px;
        left: 197px;
        top: 147px;
    }
}

@media screen and (min-width: 100px) {
    @media screen and (max-width: 370px) {
        h1 {
            font-size: 1.7em;
        }
        .content {
            overflow-x: visible;
        }
        .container {
            margin-left: 0px;
        }
        .button {
            left: 10%;
        }
        .button-first,
        .button-Fourth,
        .button-Second,
        .button-Third,
        .submitt {
            width: 320px;
        }
        .img {
            visibility: visible;
            width: 170px;
            height: 300px;
            bottom: 5px;
            left: 5px;
        }
    }
}

@media screen and (min-width: 370px) {
    @media screen and (max-width: 500px) {
        h1 {
            font-size: 1.7em;
        }
        .content {
            overflow-x: visible;
        }
        .Player {
            left: 70px;
        }
        .button {
            left: 17%;
        }
        .button-first,
        .button-Fourth,
        .button-Second,
        .button-Third,
        .submitt {
            width: 320px;
        }
        .img {
            visibility: visible;
            width: 200px;
            height: 300px;
            bottom: 10px;
            left: 10px;
        }
    }
}

@media screen and (min-width: 500px) {
    @media screen and (max-width: 620px) {
        h1 {
            font-size: 1.7em;
        }
        .menu {
            left: 550px;
        }
        .content {
            overflow-x: hidden;
        }
        .container {
            margin-left: 70px;
        }
        .Player {
            left: 125px;
        }
        .button {
            left: 25%;
        }
        .button-first,
        .button-Fourth,
        .button-Second,
        .button-Third,
        .submitt {
            width: 320px;
        }
        .img {
            visibility: visible;
            width: 250px;
            height: 300px;
            bottom: 10px;
            left: 10px;
        }
    }
}

@media screen and (min-width: 620px) {
    @media screen and (max-width: 740px) {
        h1 {
            font-size: 1.7em;
        }
        .content {
            overflow-x: hidden;
        }
        .menu {
            left: 650px;
        }
        .container {
            margin-left: 85px;
        }
        .Player {
            left: 125px;
        }
        .button {
            left: 25%;
        }
        .button-first,
        .button-Fourth,
        .button-Second,
        .button-Third,
        .submitt {
            width: 320px;
        }
        .img {
            visibility: visible;
            width: 250px;
            height: 300px;
            bottom: 10px;
            left: 10px;
        }
    }
}

@media screen and (min-width: 740px) {
    @media screen and (max-width: 1000px) {
        .content {
            overflow-x: visible;
        }
        .button {
            left: 27%;
        }
    }
}

@media screen and (min-width: 1295px) {
    .content {
        overflow-x: hidden;
    }
}